.BeerCard{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;

        img{
            width: 4%;
        }

        .body-card{
            margin-left: 4rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

                h2{
                    margin: 0;
                    font-weight: 400;
                }

                p {
                    margin: 0;
                    margin-top: 10px;
                    font-weight: 300;
                    color: rgb(102, 102, 102);
                }
                small{
                    color: rgb(148, 148, 148);
                    margin-top: 10px;
                }
        }
}