.Beer {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.beerInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

.beerContainer p {
    margin: 0;
}

.beerContainer h3 {
    color: grey;
    font-size: 25px;
}

.Beer img {
    height: 20vh;
    display: flex;
}

.Beer hr {
    margin-top: 30px;
    width: 100vw;
    border: 1px solid lightgray;
}

.beerContainer {
    display: flex;
    flex-direction: column;
}
