.image img{
  height: 120px;
  padding: 10px 25px;
  
}
.image {
  display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content h4{
  color: rgb(189, 189, 189)
}

.content p {
  margin: 0;
}

.beer{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 40px;
}
