.beears-img {
  height: 150px;
}


.bears-block-info {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #0b6efd;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(224, 224, 224, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.beears-info {
  text-align: left;
  margin-left: 50px;
}

.beears-info p {
  margin: 0;
}

.beears-info .title {
  font-weight: 700;
}
