.card-img{
    width: 150px;
    height: 300px;
    position: relative;
    display: flex;
    margin-left: 200px;
}

.col-sm-7{
    justify-content: center;
    margin-left: 250px;
    display: flex;
    position: relative;
    margin-top: -200px;
}

.card{
    justify-content: space-around;
    display: flex;
}