.NewBeer form {
  text-align: left;
  flex-direction: column;
  display: flex;
  margin: 10px;
}

.NewBeer label {
  font-weight: bold;
  margin-left: 10px;
}

.NewBeer input {
  border-radius: 20px;
  height: 25px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.NewBeer textarea {
  border-radius: 20px;
  height: 140px;
  border: 1px solid gray;
  margin-bottom: 20px;
}

.NewBeer button {
  border-radius: 20px;
  height: 40px;
  border: 1px solid#3dc4fc;
  margin-bottom: 20px;
  color: white;
  background-color: #3dc4fc;
}