.Home {
    display: flex;
    text-align: left;
    justify-content: center;

}

.Home img{
  width: 410px;
  margin-top: 5px;
}

.Home p {
  color: lightgray;
  margin: 0;
  font-weight: 100;
  margin-left: 25px;
  margin-right: 25px;
  
}

.Home h3 {
  font-weight: 300;
  font-size: 25px;
  margin: 10px 25px;

  
}

.home-card{
  width: 410px;
  margin: 10px auto;
}


.home-div{
  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
