.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  navbar {
    margin-top: 0;
    background-color: #3DC4FC;
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
